[Unit]
Description=The Shreddy2 service.
After=syslog.target

[Service]
Type=simple
User=shreddy2
Group=shreddy2
ExecStart=python -u /usr/local/bin/shreddy2.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
